.terminalContainer {
  --aug-tl: 20px;
  --aug-br: 40px;
  --aug-border-opacity: 0.3;
  --aug-border-all: 1px;
  --aug-border-bg: #00f0ff;
  --aug-inset: 6px;
  --aug-background: #010c14;
  background: #010c14;
  color: #00f0ff;
  font-family: monospace;
  max-width: 48rem;
  min-height: 500px;
  margin: 2.5rem auto;
  border: 1px solid rgba(0, 240, 255, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 14px rgba(0, 240, 255, 0.2);
  overflow: hidden;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #031421;
  border-bottom: 1px solid rgba(0, 240, 255, 0.1);
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
  box-shadow: 0 0 6px currentColor;
  border: 1px solid #0a0a0a;
}

.red {
  background-color: #ef4444;
}

.yellow {
  background-color: #facc15;
}

.green {
  background-color: #22c55e;
}

.title {
  margin-left: auto;
  font-size: 0.75rem;
  opacity: 0.8;
}

.blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminalContent {
  background-color: #010c14;
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.terminalTemp {
  --aug-border-opacity: 0.3;
  --aug-border-all: 1px;
  --aug-border-bg: #00f0ff;
  --aug-inset: 6px;
  --aug-background: #010c14;
  background: #010c14;
  color: #00f0ff;
  font-family: monospace;
  border: 1px solid rgba(0, 240, 255, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 14px rgba(0, 240, 255, 0.2);
  padding: 0;
  display: inline-block;
  white-space: nowrap;
}

.terminalContentTemp {
  background-color: #010c14;
  flex-grow: 1;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 3.3rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  display: inline-block;
  white-space: nowrap;
}

.protocolContainer {
  --aug-border-opacity: 0.3;
  --aug-border-all: 1px;
  --aug-border-bg: #00f0ff;
  --aug-inset: 6px;
  --aug-background: #010c14;
  background: #010c14;
  color: #00f0ff;
  font-family: monospace;
  border: 1px solid rgba(0, 240, 255, 0.2);
  border-radius: 2px;
  box-shadow: 0 4px 14px rgba(0, 240, 255, 0.2);
  display: inline-block;
}

.protocolContent {
  background-color: #010c14;
  flex-grow: 1;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
